<IfModule mod_rewrite.c>
        RewriteEngine On
        RewriteBase /

        # Removes index.php from ExpressionEngine URLs
        RewriteCond %{THE_REQUEST} ^GET.*index\.php [NC]
        RewriteCond %{REQUEST_URI} !/systemBPDsite/.* [NC]
        RewriteRule (.*?)index\.php/fr/*(.*) /fr/$1$2.html 

        # Directs all EE web requests through the site index file
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteCond %{REQUEST_FILENAME} !-d
        RewriteRule ^(.*)$ /index.php/$1.html 	
		
		# Remove www
		RewriteCond %{HTTP_HOST} ^www.boulangerie-patisserie-dorrea.fr$ [NC]
		RewriteRule ^(.*)$ http://boulangerie-patisserie-dorrea.fr/$1 [R=301,L]
</IfModule>